---
import Layout from '../layouts/Layout.astro'
import { getImage } from 'astro:assets'
import tree from './trees.png'
import flare from './flare.png'

const widths = [500, 600, 700]
function getOptimizedImage(value: any) {
    return `url(${value.url})`
}

const optimizedTreesImage = await getImage({ src: tree, widths })
const trees = optimizedTreesImage.srcSet.values.map(getOptimizedImage)
const optimizedFlareImage = await getImage({ src: flare, widths })
const flares = optimizedFlareImage.srcSet.values.map(getOptimizedImage)
---

<Layout title="Indie Crafters">
    <main>
        <h1>Indie Crafters</h1>
        <h3>
            An alternative to the <i>Indie Hacker</i> movement for people who care
            about solving problems.
        </h3>
    </main>
    <section class="history">
        <p>
            Developing software used to be hard and expensive, so only problems
            within enormous markets were worth pursuing. But as software became
            easier and cheaper, it became possible to address problems in the
            long tail.
        </p>
        <p>
            Similar to music and gaming, an <i>“indie”</i> movement emerged, bypassing
            traditional funding and go-to-market strategies.
        </p>
        <p>
            <i>Indie Hackers</i> discovered that building an audience was a fantastic
            marketing channel, so they began to build in public and share their successful
            businesses online. This attracted hustlers and tricksters, who are always
            looking for easy ways to make money easily.
        </p>
        <p>
            Nowadays, with AI lowering the costs even further, the <i
                >Indie Hacker</i
            > movement has degraded into a <i
                >“I'm rich, and you can also be rich⎯if you buy my products”</i
            > scheme.
            <p>
                I still believe that we ought to <a
                    href="https://maggieappleton.com/home-cooked-software"
                    target="_blank">get even deeper on the long tail</a
                >. The world is still full of unaddressed problems, some small,
                others tiny. Perhaps it's time to propose an alternative set of
                ideals that focus on solving problems and helping others.
            </p>
        </p>
    </section>
    <section class="manifesto">
        <h2>The Indie Crafter Manifesto</h2>
        <h4>Optimize for solving problems, not revenues.</h4>
        <h4>Move fast while building to last.</h4>
        <h4>Share your learnings instead of your earnings.</h4>
        <h4>Embrace mastery and reject flattery.</h4>
        <h4>Be kind to yourself and to others.</h4>
        <h4>Respect your users, the craft, and the rules.</h4>
        <h4>Savor the journey.</h4>
        <section class="footer">
            <p>
                Built with love by <a
                    href="https://twitter.com/masylum"
                    target="_blank">@masylum</a
                >.
                <br />
                Don't take it too seriously.
            </p>
        </section>
    </section>

    <style
        define:vars={{
            tree0: trees[0],
            tree1: trees[1],
            tree2: trees[2],
            flare0: flares[0],
            flare1: flares[1],
            flare2: flares[2],
        }}
    >
        main,
        section {
            margin: auto;
            padding: 1rem;
            width: 600px;
            max-width: calc(100% - 2rem);
            font-size: 20px;
            line-height: 1.6;

            @media (max-width: 500px) {
                max-width: calc(100% - 1rem);
            }

            @media (max-width: 400px) {
                max-width: calc(100% - 1rem);
            }
        }

        main {
            width: 500px;
            margin-bottom: 20rem;

            @media (max-width: 500px) {
                width: 100%;
                margin-bottom: 17rem;
            }

            @media (max-width: 400px) {
                margin-bottom: 10rem;
            }
        }

        .history {
            margin: auto;
            padding: 1rem;
            width: 500px;
            max-width: calc(100% - 2rem);
            font-size: 20px;
            line-height: 1.6;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                background-image: var(--tree2);
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: contain;
                mix-blend-mode: overlay;
            }

            @media (max-width: 500px) {
                &:before {
                    background-image: var(--tree1);
                }
            }

            @media (max-width: 400px) {
                &:before {
                    background-image: var(--tree0);
                }
            }
        }

        .footer {
            padding: 1rem 2rem;
            border-top: 1px solid var(--turq5);
            background: linear-gradient(
                oklch(from var(--turq6) l c h / 0.5),
                oklch(from var(--turq7) l c h / 0.8)
            );
            border-radius: 1rem;
            width: 100%;
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);

            @media (max-width: 500px) {
                padding: 0.8rem 1.5rem;
            }

            @media (max-width: 400px) {
                padding: 0.5rem 1rem;
            }
        }

        .footer p {
            color: var(--turq1);
            margin: 0;
        }

        .manifesto {
            margin: auto;
            padding: 1rem;
            max-width: calc(100% - 2rem);
            font-size: 20px;
            line-height: 1.6;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                background-image: var(--flare2);
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: contain;
                mix-blend-mode: screen;
            }

            @media (max-width: 500px) {
                &:before {
                    background-image: var(--flare1);
                }
            }

            @media (max-width: 400px) {
                &:before {
                    background-image: var(--flare0);
                }
            }
        }

        h1,
        h2 {
            font-family: 'DxNacky-Light';
            color: var(--turq6);
            font-size: 4rem;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            margin-block: 0.5em;
            background-size: 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;

            @media (max-width: 500px) {
                font-size: 3.5rem;
                margin-block: 0.3em;
            }

            @media (max-width: 400px) {
                font-size: 3rem;
                margin-block: 0.2em;
            }
        }

        h1 {
            background-color: var(--turq6);
            background-image: linear-gradient(var(--turq4), var(--turq7));
        }

        h2 {
            background-color: var(--olive1);
            background-image: linear-gradient(var(--olive1), var(--olive2));
        }

        h3 {
            font-size: 1.3rem;
            font-weight: 400;
            color: var(--turq5);
            line-height: 1;
            text-align: center;
            margin-top: 0.5em;
            margin-bottom: 0.5em;

            @media (max-width: 500px) {
                font-size: 1.2rem;
            }

            @media (max-width: 400px) {
                font-size: 1.1rem;
            }
        }

        h4 {
            font-family: 'DxNacky-Light';
            color: var(--turq6);
            font-size: 2.5rem;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            margin-bottom: 1.5em;
            background-size: 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            background-color: oklch(100% 0 0);
            background-image: linear-gradient(
                oklch(100% 0 0) 50%,
                var(--olive1)
            );

            @media (max-width: 500px) {
                font-size: 2.2rem;
            }

            @media (max-width: 400px) {
                font-size: 2rem;
            }
        }

        p {
            font-size: 1.1rem;
            color: var(--turq1);
            margin-bottom: 2em;
            text-wrap: pretty;
        }

        p a {
            color: #fff;
        }
    </style>
</Layout>
